* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f7fb;
  color: #111;
}

/* LINKS */
a {
  text-decoration: none;
  color: inherit;
}

/* BUTTON */
button {
  transition: 0.3s;
}

button:hover {
  opacity: 0.85;
}

/* SCROLL */
html {
  scroll-behavior: smooth;
}
